@use "sass:math"
@import "../../_globals"

$pageBackground: linear-gradient(to bottom right, $darkPurple, lighten($darkPurple, 7%))
$pageHeight: calc(100vh - 3.5em)
// Enforces a 4:3 aspect ratio
$appModuleHeight: min(calc(0.85 * (100vh - 3.5em)), 70vw)
$appModuleWidth: calc(1.33 * $appModuleHeight)
$appModuleMargin: auto 2%
$appModulePadding: 2vmin
$appModuleBorderRadius: 15px
$appModuleBackgroundColor: #6247aa

.page
  @include centerFlex
  height: $pageHeight
  background: $pageBackground
  border-bottom: 1px solid $globalBorderColor

.menu-module,
.game-module
  margin: $appModuleMargin
  padding: $appModulePadding
  height: $appModuleHeight
  width: $appModuleWidth
  border-radius: $appModuleBorderRadius
  background-color: $appModuleBackgroundColor
  box-shadow: 0 4px 8px $globalShadowColor
  overflow: hidden

.menu-module
  display: flex
  justify-content: space-evenly

.game-module
  display: flex
  flex-direction: column
  padding: 0
