@use "sass:math"
@import "../../_globals"

$pageBackground: linear-gradient(to bottom right, $darkPurple, lighten($darkPurple, 7%))

// $appContainerWidth: 1000px
// $appContainerHeight: 750px
$appModuleAspectRatio: math.div(4,3) !important
$appModuleMargin: 12% 7%
$appModulePadding: 2vmin
$appModuleBorderRadius: 15px
$appModuleBackgroundColor: #6247aa

.page
  @include centerFlex
  margin: 0
  padding: 0
  height: calc(100vh - 3.5em)
  background: $pageBackground
  border-bottom: 1px solid $globalBorderColor

// Main App Module Styling

.menu-module, .game-module
  aspect-ratio: $appModuleAspectRatio
  margin: $appModuleMargin
  padding: $appModulePadding
  max-height: 80%
  height: auto
  width: auto
  border-radius: $appModuleBorderRadius
  background-color: $appModuleBackgroundColor
  box-shadow: 0 4px 8px $globalShadowColor

.menu-module
  display: flex
  justify-content: space-evenly

.game-module
  display: flex
  flex-direction: column
  padding: 0
