@import "../../../_globals"
@import "../GamePage.module"

$gameTopSectHeight: 12.5%
$gameBottomSectHeight: 27.5%
$gameTitleContainerWidth: 50%

$gameMidSectHeight: calc(100% - $gameBottomSectHeight - $gameTopSectHeight)
$trackDetailsBoxHeight: 7.5vh

$playbackProgressPercentage: 0%

.minimized
  display: none

.game-top-sect
  display: flex
  height: $gameTopSectHeight
  background-color: #5029dc
  // background-color: #160553

  .left-logo-container
    width: calc((100% - $gameTitleContainerWidth)/2)
    border-top-left-radius: $appModuleBorderRadius
    // background-color: #ff7979

    .left-logo-img
      padding: 2.5% 2.5%
      height: 90%

  .game-title-container
    width: $gameTitleContainerWidth
    // background-color: #ffee7f

    .game-title
      @include centerFlex
      height: 70%
      // background-color: #ffffff8b000
    .round-number
      @include centerFlex
      height: 30%
      // background-color: #0000ff72

  .right-btns-container
    display: flex
    justify-content: flex-start
    gap: 5%
    align-items: center
    // width: calc((100% - $gameTitleContainerWidth)/2)
    border-top-right-radius: $appModuleBorderRadius
    padding-left: 2%
    // margin-left: -10%
    flex-grow: 1
    // background-color: #85fa78

  .top-misc-button
    @include centerFlex
    aspect-ratio: 1 /1
    height: 60%
    width: auto
    border-radius: 1000px
    font-size: 1.8rem
    background-color: #c6ccff

.game-mid-sect
  display: flex
  justify-content: center
  height: $gameMidSectHeight
  width: auto
  background-color: #160553

  .nav-btn
    font-size: 2.5rem
    color: #f2e9e4

  .left-body
    display: flex
    width: calc((100% - $gameMidSectHeight)/2)
    // background-color: #79f99b

  .song-container
    @include centerFlex
    flex-direction: column
    width: $gameMidSectHeight
    // background-color: #68eff7

    .album-cover
      @include centerFlex
      aspect-ratio: 1 / 1
      height: 80%
      width: auto
      border-radius: 15px
      background-color: #f2e9e4
      box-shadow: 7.5px 7.5px 10px #000000a2
      overflow: hidden

      .album-cover-img
        aspect-ratio: 1 / 1
        height: 100%
        width: 100%

    .track-details-box
      display: flex
      flex-direction: column
      align-items: center
      width: 27vh
      height: $trackDetailsBoxHeight
      margin-top: calc( -0.5 * $trackDetailsBoxHeight )
      border-radius: 12.5px
      overflow: hidden

      .song-title-area,.artist-title-area
        @include centerFlex
        height: 50%
        width: 100%
        // color: transparent
        // text-shadow: 0 0 10px $globalTextColor

        .title-area-text
          color: $globalTextColor
          font-size: 14pt
          font-weight: 700
          white-space: nowrap
          padding-left: 5%
          padding-right: 5%

          $translateDistance: max(0%, calc((100% - 27vh)/2))
          @keyframes slide
            from
              transform: translateX($translateDistance)
            20%
              transform: translateX($translateDistance)
            50%
              transform: translateX(calc(-1 * $translateDistance))
            70%
              transform: translateX(calc(-1 * $translateDistance))
            to
              transform: translateX($translateDistance)
          animation-name: slide
          animation-duration: calc(1s * 8)
          animation-timing-function: linear
          animation-iteration-count: infinite
          -webkit-animation-name: slide
          -webkit-animation-duration: calc(1s * 8)
          -webkit-animation-timing-function: linear
          -webkit-animation-iteration-count: infinite

      .song-title-area
        background-color: #d14081

      .artist-title-area
        background-color: #ef798a

  .right-body
    display: flex
    justify-content: flex-end
    width: calc((100% - $gameMidSectHeight)/2)
    // background-color: #7d78f5

.game-bottom-sect
  display: flex
  flex-direction: column
  height: 40%
  border-bottom-left-radius: $appModuleBorderRadius
  border-bottom-right-radius: $appModuleBorderRadius
  background-color: #160553

  .game-bar-container
    @include centerFlex
    position: relative
    height: 27%
    margin: .5%
    border-radius: 15px
    background-color: #370031ba

    .playback-side-button
      @include centerFlex
      aspect-ratio: 1 / 1
      height: 50%
      width: auto
      margin: auto 0
      border-radius: 1000px
      background-color: #f2e9e4

    .playback-progress-bar
      --progress: 0
      @include centerFlex
      position: relative
      z-index: 1
      width: 85%
      max-height: 40px
      height: 40%
      margin: auto 1.25%
      border-radius: 1000px
      // border: 2px solid #463f3a
      border: 2px solid #16c172
      overflow: hidden

      .progress
        position: absolute
        height: 100%
        width: var(--progress)
        background: #16c172 //linear-gradient(to right, #16c172, #0000 var(--progress))

    .playback-actions-button
      @include centerFlex
      position: absolute
      z-index: 2
      aspect-ratio: 1 / 1
      height: 7.5vmin
      width: auto
      border-radius: 1000px
      border: 3px solid #16c172
      font-size: 2.5rem
      color: #f2e9e4
      background-color: #2afc98

  .voting-container
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    gap: 2%

    height: 55%
    padding: 1%
    margin: 0 .5%
    border-radius: 15px
    overflow: hidden
    background-color: darken(#160553,5)

    .bottom-vote-btn
      display: flex
      background-color: #d1bce3
      width: 12vmax
      min-width: 150px
      max-width: 185px
      height: 40%
      min-height: 40px
      border-radius: 1000px

      .profile-picture
        aspect-ratio: 1 / 1
        height: 100%
        width: auto
        border-radius: 1000px
        background-color: #9e1d1d
        overflow: hidden

        .profile-picture-img
          height: 100%
          width: 100%

      .username
        align-self: center
        text-align: center
        width: 50%
        margin: auto
        // background-color: #f2e9e4
        border-radius: 1000px
